<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="x-apple-disable-message-reformatting">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="telephone=no" name="format-detection">
    <title>Sign Up</title>
</head>

<body>
    <p>Hola <%= Name %> este es un correo de bienvenida</p>
    <p>Solo un paso mas antes de comenzar.. </p>
    <p>Tienes que verificar tu email, haciendo click en este <a href="<%= Url %>">enlace</a></p>
    <p>Tambien puedes copiar este enlace en tu navegador <%= Url %> </p>
    <p>Si no reconoces este proceso ignora este email</p>
</body>
</html>